.user-menu-wrapper {
  display: flex;
  align-items: center;
}

@media (max-width: 996px) {
  .user-menu-wrapper {
    width: 100%;
    justify-content: center;
    padding: 1rem 0;
    border-top: 1px solid var(--ifm-color-emphasis-200);
  }
}